*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.button{
  background-color: rgb(0,97,255);
  padding: 0 15px 0 15px;
  color: white;
}

ul{
  list-style: none;
}

li{
  margin-top: 10px;
}

/* barra navigazione */

.nav-bar{
  height: 60px;
  padding: 20px 25px 20px 25px;
}

.nav-item-left{
  margin-right: 30px;
}

.nav-item-right{
  margin-left: 30px;
}


/* jumbo */

.jumbo{
  background-color: rgb(180,208,231);
  height: 600px;
}

.content-jumbo {
  width: 1100px ;
  margin: 0 auto;
  padding-top: 30px;
}

.title-jumbo{
  font-size: 60px;
}

.element-30{
  width: 30%;
  background-color: blueviolet;
  margin-top: 30px ;
}

.element-70{
  width: 70%;
  background-color: crimson;
  margin-top: 30px ;

}

#iscrizione{
  width: 230px;
  height: 35px;
  line-height: 35px;
  margin-top: 30px;
}

#annulla{
  margin-top: 15px;
  font-size: smaller;
}

#downarrow{
  font-size: 70px;
}

#jumbo{
  width: 800px;
  height: 470px;
}

/* sezione principale */

#margin-180{
  margin-top: 180px;
}

.main-container{
  width: 1000px ;
  border: 1px solid black;
  margin: 0 auto;
}

#title-2{
  font-size: 40px;
  text-align: center;
}

.input{
  margin-top: 25px;
}

/*prime 3 colonne */

div[class^="colonna-30"] {
  width: 30%;
  background-color: chartreuse;
  height: 950px;
  margin-top: 30px;
  border: 1px solid grey;
}

.titolo-colonna{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid grey;
  text-align: center;
  line-height: 40px;

}

.colonna-30-left{
  margin-right: 5%;
}

.colonna-30-right{
  margin-left: 3%;
}

.type-plan{
  font-size: 30px;
  font-weight: bold;
}

.price-plan{
  font-weight: bold;
}

.grey-plan{
  color: lightgray;
}

div[class^="part-colonna"]{
  padding: 25px 30px 25px 30px;
}

.part-colonna-first{
  height: 170px;
}

.punti-salienti{
  font-size: larger;
  font-weight: bold;
}

#prova-gratis{
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: 40px;
}

.check{
  color:rgb(0,97,255) ;
  display: inline-block;
}


/* primo box dopo colonne  */

#margin-50{
  margin-top: 50px;
  border: 1px solid gray;
}

.box-1{
  padding: 25px 30px 25px 30px;
  height: 160px;
}

.content-text{
  font-size: smaller;
}

#contatta-ufficio{
  text-align: center;
  width: 25%;
  height: 40px;
  line-height: 40px;
}

/* box immagine e testo */

#margin-80{
  margin-top: 80px;
}

#element-50{
  width: 50%;
  background-image: url(../img/partner.png);
  background-size: cover;
  height: 500px;
}

#element-40{
  width: 40%;
  padding-top: 80px;
}

.text-box-2{
  margin-top: 30px;
}

#trova-partner{
  text-align: center;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-top: 30px;
}

/* 6 colonne */

div[class^="colonna-32"]{
  width: 32%;
  height: 580px;
  margin-top: 50px;
  padding-left: 8px;
}

.colonna-32l{
  margin-right: 18px;
}

.img-6-colonne{
  width: 100%;
}

#margin-80{
  margin-top: 80px;
}



.square-left , .square-right{
  width: 33%;
  background-color: rgb(174, 180, 167);
  border: 1px solid black;
  height: 445px;
}

.square-left-item{
  width: 50%;
  background-color: darkcyan;
  border: 1px solid black;
  height: 50%;
}