*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.button{
  background-color: rgb(0,97,255);
  padding: 0 15px 0 15px;
  color: white;
}

/* barra navigazione */

.nav-bar{
  height: 60px;
  padding: 20px 25px 20px 25px;
}

.nav-item-left{
  margin-right: 30px;
}

.nav-item-right{
  margin-left: 30px;
}


/* jumbo */

.jumbo{
  background-color: rgb(180,208,231);
  height: 600px;
}

.content-jumbo {
  width: 1100px ;
  margin: 0 auto;
  padding-top: 30px;
}

.title-jumbo{
  font-size: 60px;
}

.element-30{
  width: 30%;
  background-color: blueviolet;
  margin-top: 30px ;
}

.element-70{
  width: 70%;
  background-color: crimson;
  margin-top: 30px ;

}

#iscrizione{
  width: 230px;
  height: 35px;
  line-height: 35px;
  margin-top: 30px;
}

#annulla{
  margin-top: 15px;
  font-size: smaller;
}

#downarrow{
  font-size: 70px;
}

#jumbo{
  width: 800px;
  height: 470px;
}

/* sezione principale */

.main-container{
  width: 1000px ;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 30px;
}

div[class^="colonna-30"] {
  width: 30%;
  background-color: chartreuse;
  border: 1px solid black;
  height: 500px;
}

.colonna-30l{
  margin-right: 5%;
}

.colonna-30r{
  margin-left: 3%;
}


#element-50{
  width: 50%;
  background-color: chocolate;
  height: 200px;
}

#element-40{
  width: 40%;
  background-color: chocolate;
  height: 200px;
}


.square-left , .square-right{
  width: 33%;
  background-color: rgb(174, 180, 167);
  border: 1px solid black;
  height: 445px;
}

.square-left-item{
  width: 50%;
  background-color: darkcyan;
  border: 1px solid black;
  height: 50%;
}