*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.button{
  background-color: rgb(0,97,255);
  padding: 0 15px 0 15px;
  color: white;
}

ul{
  list-style: none;
}

li{
  margin-top: 10px;
}

/* barra navigazione */

.nav-bar{
  height: 60px;
  padding: 20px 25px 20px 25px;
}

.nav-item-left{
  margin-right: 30px;
}

.nav-item-right{
  margin-left: 30px;
}


/* jumbo */

.jumbo{
  background-color: rgb(180,208,231);
  height: 600px;
}

.content-jumbo {
  width: 1100px ;
  margin: 0 auto;
  padding-top: 30px;
}

.title-jumbo{
  font-size: 60px;
}

.element-30{
  width: 30%;
  margin-top: 30px ;
}

.element-70{
  width: 70%;
  margin-top: 30px ;

}

#iscrizione{
  width: 230px;
  height: 35px;
  line-height: 35px;
  margin-top: 30px;
}

#annulla{
  margin-top: 15px;
  font-size: smaller;
}

#downarrow{
  font-size: 70px;
}

#jumbo{
  width: 800px;
  height: 470px;
}

/* sezione principale */

#margin-180{
  margin-top: 180px;
}

.main-container{
  width: 1000px ;
  margin: 0 auto;
}

.title-2{
  font-size: 40px;
  text-align: center;
}

.input{
  margin-top: 25px;
}

/*prime 3 colonne */

div[class^="colonna-30"] {
  width: 30%;
  height: 950px;
  margin-top: 30px;
  border: 1px solid grey;
}

.titolo-colonna{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid grey;
  text-align: center;
  line-height: 40px;

}

.colonna-30-left{
  margin-right: 5%;
}

.colonna-30-right{
  margin-left: 3%;
}

.type-plan{
  font-size: 30px;
  font-weight: bold;
}

.price-plan{
  font-weight: bold;
}

.grey-plan{
  color: lightgray;
}

div[class^="part-colonna"]{
  padding: 25px 30px 25px 30px;
}

.part-colonna-first{
  height: 170px;
}

.colonna-border{
  border-top: lightgray 1px solid;
  width: 60px;
  margin-left: 25px;
}

.punti-salienti{
  font-size: larger;
  font-weight: bold;
}

.prova-gratis{
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: 40px;
}

.check{
  color:rgb(0,97,255) ;
  display: inline-block;
}


/* primo box dopo colonne  */

#margin-50{
  margin-top: 50px;
  border: 1px solid gray;
}

.box-1{
  padding: 25px 30px 25px 30px;
  height: 160px;
}

.content-text{
  font-size: smaller;
}

#contatta-ufficio{
  text-align: center;
  width: 25%;
  height: 40px;
  line-height: 40px;
}

/* box immagine e testo */

#margin-70{
  margin-top: 70px;
}



#element-50{
  width: 50%;
  background-image: url(../img/partner.png);
  background-size: cover;
  height: 500px;
}

#element-40{
  width: 40%;
  padding-top: 80px;
}

.text-box-2{
  margin-top: 30px;
}

#trova-partner{
  text-align: center;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-top: 30px;
}

/* 6 colonne */

div[class^="colonna-32"]{
  width: 32%;
  height: 580px;
  margin-top: 50px;
  padding-left: 8px;
}

.colonna-32l{
  margin-right: 18px;
}

.img-6-colonne{
  width: 100%;
}

#margin-80{
  margin-top: 80px;
}

/* box team e clienti */

#title-box-3{
  font-size: 40px;
  width: 60%;
}

#margin-40{
  margin-top: 40px;
}

#link-clienti{
  height: 80px;
  line-height: 80px;
}

/* sezione con quadrati e loghi */

.square-left , .square-right{
  width: 33%;
  height: 445px;
}

.square-left-item{
  width: 50%;
  height: 50%;
}

.square-image{
 width: 100%;
 filter: invert(1);
 height: 100%;
 padding: 35% 20% 35% 20%;
} 

.square-center{
  width: 34%;
  height: 445px;
  background-color: whitesmoke;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.text-center-square{
  margin-top: 40px;
}

#clear-logo{
  width: 120px;
  height: 120px;
  border-bottom: 1px solid lightgray;
}

#background-darkseagreen{
  background-color: darkseagreen;
}

#background-maroon{
  background-color: rgb(97,8,43);
}

#background-lightseagreen{
  background-color: lightseagreen;
}

#background-red{
  background-color: rgb(255,28,28);
}

#background-crimson{
  background-color: crimson;
}

#background-lightblue{
  background-color: lightblue;
}

#background-midnightblue{
  background-color: midnightblue;
}

#background-gold{
  background-color: gold;
}

/* sezione dopo i loghi */

.final-box{
  background-color: rgb(180,208,231);
  height: 250px;
}

#inizia-prova-final{
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: black;
  margin-top: 30px; 
}

#title-box-4{
  font-size: 40px;
  width: 60%;
  color: rgb(107,32,66);
}

#container-final-box{
  padding-top: 70px;
}

/* sezione domande frequenti */

#sezione-domande{
  height: 600px;
  padding-top: 90px;
}

.domande-frequenti{
  line-height: 80px;
  width: 75%;
}

.domande-frequenti-r{
  line-height: 80px;
  padding-right: 80px;
  
}

#titolo-sezione-domande{
  border-bottom: 1px solid lightgray;
  padding-bottom: 50px;
}

.riga-domande{
  border-bottom: 1px solid lightgray;
  height: 80px;
}

/* footer */

footer{
  height: 500px;
  background-color: black;
}

.colonna-footer{
  width: 20%;
  padding-top: 80px;
  height: 350px;
  border: 1px solid black;
}

.title-footer{
  color: white;
  font-weight: bold;
}

.item-footer{
  color: white;
  font-size: smaller;
}

.line{
  border-top: 1px solid lightgray;
  width: 110px;
  height: 50px;
}